

<div class='app'>

  <div class='app-calendar'>
    <full-calendar
      #calendar
      defaultView="timeGridDay"
      [header]="{
        left: 'prev,next today',
        center: 'title', 
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
      [weekends]="calendarWeekends"
      [timeZone]="local"
      [plugins]="calendarPlugins"
      [droppable]="calendarDroppable"
      [editable]="true"
      [events]="calendarEvents"
      [eventDurationEditable]="false"
      (dateClick)="handleDateClick($event)"
      (eventClick)="deleteEvent($event)"
      [minTime]="calendarMinTime"
      (eventPositioned)="modifierHeureEvent($event)" 
      (select)="supprimerEvent($event)"
      (eventRender)="afficherIcone($event)"
      
      [contentHeight]="double"
      [height]="calendarHeight"
    >
    <span class="removeEvent glyphicon glyphicon-trash pull-right" id="Delete"></span>
  </full-calendar>
  </div>

</div>
