<div id='calendar'></div>

<div class='app'>

  <div class='app-calendar'>
    <full-calendar
      #calendar
      defaultView="dayGridDay"
      [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
      [weekends]="calendarWeekends"
      [timeZone]="local"
      [plugins]="calendarPlugins"
      [droppable]="calendarDroppable"
      [editable]="true"
      [events]="calendarEvents"
      [eventDurationEditable]="false"
      (dateClick)="handleDateClick($event)"
      (eventClick)="options.eventClick"
      [minTime]="calendarMinTime"
      [customButtons]="options.customButtons"

    ></full-calendar>
  </div>

</div>
