table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.quantite {
    margin-inline-start: auto;
    width: 20%;
    margin-right: 15%;
}

.confirmer {
    margin-left: 15%;
}

.second-header-row {
    font-style: italic;
}

.example-container .mat-form-field {
    width: 30%;
    margin-left: 3%;
}


.mat-raised-button.mat-accent {
    background-color: #757575;
}

