<!-- <h1 class="display-4 text-center">Ajouter un plat</h1>
<br>


<form>
    <fieldset class="container">
        <div class="form-group row">
            <div class="col-4">
                <label for="nom">Nom</label>
            </div>
            <div class="col-8">
                <input name="nom" type="text" class="form-control" id="nom" [(ngModel)]="newPlat.nom" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label for="stock">Stock</label>
            </div>
            <div class="col-8">
                <input name="stock" type="number" class="form-control" id="stock" [(ngModel)]="newPlat.stock" min="0"
                    required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label for="prix">Prix</label>
            </div>
            <div class="col-8">
                <input name="prix" type="text" class="form-control" id="prix" [(ngModel)]="newPlat.prix" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label for="categorie">Catégorie</label>
            </div>
            <div class="col-8">
                <select name="categorie" class="custom-select" id="categorie" required [(ngModel)]="newPlat.categorie">
                    <option selected disabled value="">Choisissez...</option>
                    <option>Entrée</option>
                    <option>Plat</option>
                    <option>Dessert</option>
                    <option>Boisson</option>
                </select>
            </div>
        </div>
        <br>
        <div align="center">
            <button type="submit" class="btn btn-primary" (click)="ajouterPlat()">Valider</button>
        </div>
    </fieldset>
</form> -->



<div class="container">

    <h2 class="mat-h2"><u>Liste des plats</u></h2>

    <div align="center">
        <mat-form-field>
            <mat-label>Sélectionnez l'index de l'onglet</mat-label>
            <input matInput type="number" [formControl]="selected" min="0" max="3">
        </mat-form-field>
    </div>

    <br>

    <div class="container">
        <mat-tab-group mat-align-tabs="center" animationDuration="400ms" [selectedIndex]="selected.value"
            (selectedIndexChange)="selected.setValue($event)">
            <mat-tab label="0 - Entrées">
                <table mat-table [dataSource]="dataSourceEntrees" matSort class="mat-elevation-z8">


                    <ng-container matColumnDef="nom">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                        <td mat-cell *matCellDef="let uneEntree"> {{uneEntree.nom}} </td>
                    </ng-container>


                    <ng-container matColumnDef="prix">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix </th>
                        <td mat-cell *matCellDef="let uneEntree"> {{uneEntree.prix}} €</td>
                    </ng-container>


                    <ng-container matColumnDef="stock">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
                        <td mat-cell *matCellDef="let uneEntree"> {{uneEntree.stock}} </td>
                    </ng-container>

                    <ng-container matColumnDef="modifier">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                        <td mat-cell *matCellDef="let uneEntree">
                            <div class="modifier" align="center">
                                <button type="button" color="accent" mat-raised-button ngDefaultControl
                                    [formControl]="modif" (click)="modifierPlat(uneEntree.idPlat)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-tab>


            <mat-tab label="1 - Plats">
                <table mat-table [dataSource]="dataSourcePlats" matSort class="mat-elevation-z8">


                    <ng-container matColumnDef="nom">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                        <td mat-cell *matCellDef="let unPlat"> {{unPlat.nom}} </td>
                    </ng-container>


                    <ng-container matColumnDef="prix">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix </th>
                        <td mat-cell *matCellDef="let unPlat"> {{unPlat.prix}} €</td>
                    </ng-container>


                    <ng-container matColumnDef="stock">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
                        <td mat-cell *matCellDef="let unPlat"> {{unPlat.stock}} </td>
                    </ng-container>

                    <ng-container matColumnDef="modifier">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                        <td mat-cell *matCellDef="let unPlat">
                            <div class="modifier" align="center">
                                <button type="button" color="accent" mat-raised-button ngDefaultControl
                                    [formControl]="modif" (click)="modifierPlat(unPlat.idPlat)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-tab>


            <mat-tab label="2 - Desserts">
                <table mat-table [dataSource]="dataSourceDesserts" matSort class="mat-elevation-z8">


                    <ng-container matColumnDef="nom">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                        <td mat-cell *matCellDef="let unDessert"> {{unDessert.nom}} </td>
                    </ng-container>


                    <ng-container matColumnDef="prix">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix </th>
                        <td mat-cell *matCellDef="let unDessert"> {{unDessert.prix}} €</td>
                    </ng-container>


                    <ng-container matColumnDef="stock">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
                        <td mat-cell *matCellDef="let unDessert"> {{unDessert.stock}} </td>
                    </ng-container>

                    <ng-container matColumnDef="modifier">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                        <td mat-cell *matCellDef="let unDessert">
                            <div class="modifier" align="center">
                                <button type="button" color="accent" mat-raised-button ngDefaultControl
                                    [formControl]="modif" (click)="modifierPlat(unDessert.idPlat)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-tab>


            <mat-tab label="3 - Boissons">
                <table mat-table [dataSource]="dataSourceBoissons" matSort class="mat-elevation-z8">


                    <ng-container matColumnDef="nom">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                        <td mat-cell *matCellDef="let uneBoisson"> {{uneBoisson.nom}} </td>
                    </ng-container>


                    <ng-container matColumnDef="prix">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix </th>
                        <td mat-cell *matCellDef="let uneBoisson"> {{uneBoisson.prix}} €</td>
                    </ng-container>


                    <ng-container matColumnDef="stock">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
                        <td mat-cell *matCellDef="let uneBoisson"> {{uneBoisson.stock}} </td>
                    </ng-container>

                    <ng-container matColumnDef="modifier">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                        <td mat-cell *matCellDef="let uneBoisson">
                            <div class="modifier" align="center">
                                <button type="button" color="accent" mat-raised-button ngDefaultControl
                                    [formControl]="modif" (click)="modifierPlat(uneBoisson.idPlat)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-tab>
        </mat-tab-group>
    </div>

    <br><br>

    <div>
        <h2 class="mat-h2"><u>Gestion des plats</u></h2>

        <mat-tab-group mat-align-tabs="center" [selectedIndex]="modif.value">
            <mat-tab label="Ajouter un plat">
                <div class="form-container" align="center">
                    <mat-form-field appearance="standard">
                        <mat-label>Nom du plat</mat-label>
                        <input matInput required [(ngModel)]="newPlat.nom">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="standard">
                        <mat-label>Prix</mat-label>
                        <input matInput required type="number" [(ngModel)]="newPlat.prix">
                        <span matSuffix>€</span>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="standard">
                        <mat-label>Stock</mat-label>
                        <input matInput required type="number" min="0" [(ngModel)]="newPlat.stock">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="standard">
                        <mat-label>Catégorie</mat-label>
                        <mat-select required [(ngModel)]="newPlat.categorie" name="categorie">
                            <mat-option value="entree">Entrée</mat-option>
                            <mat-option value="plat">Plat</mat-option>
                            <mat-option value="dessert">Dessert</mat-option>
                            <mat-option value="boisson">Boisson</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <div align="center">
                        <button mat-raised-button class="add-button" (click)="ajouterPlat()">
                            Ajouter un nouveau plat
                        </button>
                    </div>
                </div>
            </mat-tab>

            <mat-tab disabled label="Modifier un plat">
                <div class="form-container" align="center">
                    <mat-form-field appearance="standard">
                        <mat-label>Nom du plat</mat-label>
                        <input matInput required [(ngModel)]="modifPlat.nom">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="standard">
                        <mat-label>Prix</mat-label>
                        <input matInput required type="number" [(ngModel)]="modifPlat.prix">
                        <span matSuffix>€</span>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="standard">
                        <mat-label>Stock</mat-label>
                        <input matInput required type="number" min="0" [(ngModel)]="modifPlat.stock">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="standard">
                        <mat-label>Catégorie</mat-label>
                        <mat-select required [(ngModel)]="modifPlat.categorie" name="categorie">
                            <mat-option value="Entrée">Entrée</mat-option>
                            <mat-option value="Plat">Plat</mat-option>
                            <mat-option value="Dessert">Dessert</mat-option>
                            <mat-option value="Boisson">Boisson</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <div align="center">
                        <button mat-raised-button class="add-button" (click)="modificationPlat()">
                            Modifier le plat
                        </button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <br><br>
</div>