<h1 class="display-4 text-center">Modifier une table</h1>
<br>

<body>
    <form>
        <fieldset class="container">
            <div class="form-group row">
                <div class="col-4">
                    <label for="num">Numéro de table</label>
                </div>
                <div class="col-8">
                    <input name="num" type="number" class="form-control" id="num" [(ngModel)]="newTable.numero"
                        required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label for="nbPlaces">Nombre de places</label>
                </div>
                <div class="col-8">
                    <input name="nbPlaces" type="number" class="form-control" id="nbPlaces" [(ngModel)]="newTable.nbPlaces"
                        required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label for="emp">Employé responsable</label>
                </div>
                <div class="col-8">
                    <select name="emp" class="custom-select" id="emp" required [(ngModel)]="id_emp" required>
                        <option selected disabled value="">Choisissez...</option>
                        <option *ngFor="let unEmploye of listeEmployes" [(ngValue)]="unEmploye.idEmploye">
                            {{unEmploye.prenom}} {{unEmploye.nom}}</option>
                    </select>
                </div>
            </div>
            <br>
            <div align="center">
                <button type="submit" class="btn btn-primary" (click)="modifierTable()">Valider</button>
            </div>
        </fieldset>
    </form>
</body>